<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="stylesheet" href="../public/css/crear_productos.css">
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <section class="section-producto">
      <article class="article-producto nombre">
        <div class="img-box">
          <!-- <img class="imagen-producto" src="" alt=""> -->
        </div>
        <h3 class="nombre-producto">producto</h3>
      </article>
      <article class="article-producto opciones">
        <h3 class="caracteristicas">caracteristicas...</h3>
        <h3 class="precio">precio....</h3>
        <h3 class="cantidad">cantidad...</h3>
      </article>
      <article class="article-producto ventas">
        <h2>ultimas ventas</h2>
        <ul class="ultimas ventas"></ul>
      </article>
      <article class="article-producto crear">
        <h2>Crear producto</h2>
      </article>
    </section>
  </div>
</body>
</html>